.width img{
    width: 1044px;px;
    height: 584px;
}
ul{
    list-style-type: none;
    padding-left: 0;
}
.button-color{
   background-color:  #F496D1;
}
.back-color{
    background-color: #3F87F5;
}
.font-color{
    color: #3F87F5;
    font-weight: 500;
}
